/* Logo image inside Header */

.logo {
    width: auto;
    height: calc(4vw + 46px);
    margin: auto;
    margin-left: calc(4vw - 5px);
}


/* Advertisement  container */

.top-ad {
    width: auto;
    height: 90%;
    margin: auto;
}


/*  Right menu inside the Header */

#nav-right {
    margin: auto;
    margin-right: 0px;
    color: #FFFFFF;
}

#nav-right li {
    height: 33%;
    margin: 1px;
    background: #333;
    padding: 0 6px;
}

#nav-right a {
    padding: 3px;
    height: 100%;
    width: fit-content;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .top-ad {
        margin: auto;
        margin-right: calc(4vw - 5px);
        height: 70%;
    }
}

@media screen and (max-width: 540px) {
    #nav-right {
        display: none;
    }
}