 .page-body {
     width: fit-content;
     min-height: 100mv;
     padding-left: 30px;
     max-width: 100vw;
     display: flex;
     flex-wrap: wrap;
 }
 
 .headline-and-ads {
     width: calc(55vw - 30px);
     display: flex;
 }
 /* Pages body: main content */
 
 .big-headline {
     width: 70%;
     max-width: 500px;
     border-top: 3px solid #d5d8dc;
     margin: 20px;
 }
 /* Pages body: right panel for last reports lists and 
           left panel for advertisement*/
 
 .small-headings {
     width: 35vw;
     max-width: 450px;
     display: flex;
     flex-wrap: wrap;
     max-height: 75vw;
 }
 
 .small-headings-right,
 .advertising {
     margin: 10px;
     margin-top: 20px;
 }
 
 .advertising {
     width: 30%;
     margin: 10px;
     margin-top: 20px;
 }
 
 .headings-bottom {
     display: none;
 }
 
 .big-title {
     margin: 10px 0;
     padding: 0;
     width: 100%;
     font-size: 28px;
     font-weight: 800;
     line-height: 1.2;
     text-align: justify;
 }
 
 .big-image {
     width: 100%;
     margin: 10px auto;
     display: block;
 }
 
 .big-summary {
     text-align: justify;
     display: block;
 }
 /* Responsive design */
 
 @media screen and (max-width: 1040px) {
     .heading-left {
         display: none;
     }
     .headings-bottom {
         display: flex;
         width: 100%;
     }
     .headline-and-ads {
         width: calc(100vw - 30px);
         display: flex;
     }
 }
 
 @media screen and (max-width: 920px) {
     #nav-mobile a {
         font-size: 12px;
     }
     nav ul {
         margin: 0 10px;
     }
 }
 
 @media screen and (max-width: 768px) {
     .big-title {
         font-size: 20px;
     }
 }
 
 @media screen and (max-width: 540px) {
     .big-title {
         font-size: 16px;
     }
 }