 .page-body {
     width: 90vw;
     margin: 0 auto;
     display: flex;
     flex-wrap: wrap;
 }
 
 .headline-and-ads {
     width: 65%;
     display: flex;
     float: right;
 }
 /* Pages body: right panel for last reports lists and 
           left panel for advertisement*/
 
 .small-headings-container {
     width: 35%;
     display: flex;
     flex-wrap: wrap;
     margin-top: 20px;
 }
 /* Pages body: main content */
 
 .big-headline {
     width: 65%;
     max-width: 700px;
     border-top: 3px solid #d5d8dc;
     margin: 20px;
     float: left;
 }
 
 .small-headings-right,
 .advertising {
     margin: 10px;
     margin-top: 20px;
 }
 
 .advertising {
     width: 35%;
     margin: 10px;
     margin-top: 20px;
 }
 
 .advertising-top {
     display: none;
 }
 
 .headings-bottom {
     display: none;
 }
 
 .big-title {
     margin: 10px 0;
     padding: 0;
     width: 100%;
     font-size: 28px;
     font-weight: 800;
     line-height: 1.2;
     text-align: justify;
 }
 
 .big-image {
     width: 100%;
     margin: 10px auto;
     display: block;
 }
 
 .big-summary {
     text-align: justify;
     display: block;
 }
 /* Responsive design */
 
 @media screen and (max-width: 1040px) {
     .heading-left {
         display: none;
     }
     .headings-bottom {
         display: flex;
         width: 100%;
     }
     .headline-and-ads {
         width: 100%;
         display: flex;
     }
     .advertising,
     .big-headline {
         width: 50%;
     }
     .advertising {
         display: flex;
     }
     .advertising-top {
         display: none;
     }
 }
 
 @media screen and (max-width: 920px) {
     #nav-mobile a {
         font-size: 12px;
     }
     nav ul {
         margin: 0 10px;
     }
     .big-title {
         font-size: 22px;
     }
     .advertising-top {
         display: none;
     }
 }
 
 @media screen and (max-width: 768px) {
     .big-title {
         font-size: 18px;
     }
     .big-headline {
         width: 70%;
         margin: 10px;
     }
     .advertising {
         width: 30%;
         display: block;
     }
     .advertising-top {
         display: none;
     }
 }
 
 @media screen and (max-width: 540px) {
     .headline-and-ads {
         width: calc(100% - 10px);
         display: block;
     }
     .big-title {
         font-size: 16px;
     }
     .advertising-right {
         display: none;
     }
     .advertising-top {
         width: 100%;
         display: flex;
         margin: 0px;
     }
     .big-headline {
         width: 100%;
         margin: 10px;
     }
 }