/* Page body wrapper, below the navbar */

.page-body {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}


/* Home: Big headline (in center) and advertisings wrapper */

.headline-and-ads {
    width: 65%;
    display: flex;
    float: right;
}


/* Small headings wrapper*/

.small-headings-container {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-right: 1%;
    justify-content: space-between;
}


/* Main hedline container inside the home page */

.big-headline {
    width: 65%;
    max-width: 700px;
    border-top: 3px solid #d5d8dc;
    margin-top: 20px;
    float: left;
}


/* small-headings-right: this wrapper to places the small headings on the right in homepage
 advertising: is the wrappers for ads  */

.advertising {
    margin-top: 20px;
    width: 35%;
    padding: 0 10px;
}


/* advertisings on the top of the main headline */

.advertising-top {
    display: none;
}


/* Small headings on the bottom of the main headline */

.headings-bottom {
    display: none;
}


/* Main headline title in homepage*/

.big-title {
    margin: 10px 0;
    padding: 0;
    width: 100%;
    font-size: 28px;
    font-weight: 800;
    line-height: 1.2;
    text-align: justify;
}


/* Main headline image in homepage */

.big-image {
    width: 100%;
    margin: 10px auto;
    display: block;
}


/* Main headline summary in homepage */

.big-summary {
    text-align: justify;
    display: block;
}


/* Responsive design */

@media screen and (max-width: 1040px) {
    /* Small headings ar placed on the bottom of the main headline from 1040px */
    .headings-left {
        display: none;
    }
    .headings-bottom {
        display: flex;
        width: 100%;
    }
    .headline-and-ads {
        width: 100%;
        display: flex;
    }
}

@media screen and (max-width: 920px) {
    #nav-mobile a {
        font-size: 12px;
    }
    nav ul {
        margin: 0 10px;
    }
    .big-title {
        font-size: 22px;
    }
}

@media screen and (max-width: 768px) {
    .big-title {
        font-size: 18px;
    }
    .big-headline {
        width: 65%;
    }
    .advertising {
        width: 35%;
        display: block;
    }
}

@media screen and (max-width: 540px) {
    .big-title {
        font-size: 15px;
    }
    .big-headline {
        width: 60%;
    }
    .advertising {
        width: 40%;
    }
}

@media screen and (max-width: 360px) {
    .big-title {
        font-size: 14px;
    }
    .big-headline {
        width: 60%;
    }
    .advertising {
        width: 40%;
    }
    p {
        font-size: 11px;
    }
}