    /* Logo image inside Header */
    
    .headings-header {
        display: flex;
        height: calc(5.6vw + 64px);
        width: 99.5%;
        margin-left: 0.5%;
        border-top: 3px solid #d5d8dc;
    }
    /* Advertisement  container */
    
    .bottom-ad {
        width: auto;
        height: 97%;
        margin: auto;
    }
    
    .headings-ad-md {
        display: none;
    }
    
    @media screen and (max-width: 1040px) {
        .headings-ad-lg {
            display: none;
        }
        .headings-ad-md {
            display: flex;
            margin-top: 1%;
            border-top: none;
            border-bottom: 2px solid #d5d8dc;
        }
    }