    /* Home small headings header */
    
    .headings-header {
        display: flex;
        height: calc(5.6vw + 64px);
        width: 100%;
        border-top: 3px solid #d5d8dc;
    }
    /* Advertisements  container at the bottom*/
    
    .headings-ad {
        width: auto;
        height: 90%;
        max-width: 100%;
        margin: auto;
    }
    
    .headings-ad-md,
    .headings-ad-sm {
        display: none;
    }
    
    @media screen and (max-width: 1040px) {
        .headings-ad-lg {
            display: none;
        }
        .headings-ad-md {
            display: flex;
            border-top: none;
            border-bottom: 2px solid #d5d8dc;
        }
    }
    
    @media screen and (max-width: 540px) {
        .headings-ad-md {
            display: none;
        }
        .headings-ad-sm {
            display: flex;
        }
    }