                .ads-container {
                    border-top: 2px solid #d5d8dc;
                    width: 100%;
                    font-size: 14px;
                    font-weight: bold;
                    margin: 0 5px 20px;
                    height: fit-content;
                    display: flex;
                }
                
                .ad-image {
                    padding-top: 5px;
                    width: 100%;
                    display: block;
                    margin: auto;
                }
                
                @media screen and (max-width: 540px) {
                    .ads-container {
                        margin: 0px;
                        margin-top: 10px;
                        width: 99%;
                    }
                }