   * {
       margin: 0px;
       padding: 0px;
       box-sizing: border-box;
   }
   /* main nabar */
   
   header {
       display: flex;
       height: fit-content;
       height: calc(5.5vw + 64px);
       background-color: white;
   }
   /* Nav */
   
   nav {
       height: calc(3vw + 31px);
   }
   /* Nav wrapper */
   
   .nav-wrapper {
       margin: 0 calc(4vw - 5px) 0 calc(4vw - 5px);
       height: 100%;
   }
   /* Nav ul */
   
   ul {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       height: 100%;
   }
   
   li {
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   
   nav ul a {
       padding: 0 8px;
       height: fit-content;
       line-height: 100%;
   }
   /* Navbar logo image */
   
   .logo {
       width: auto;
       height: 70%;
       margin: auto;
       margin-left: calc(4vw - 5px);
   }
   
   .publicite {
       width: auto;
       height: 80%;
       margin: auto;
   }
   
   #nav-right {
       margin: auto;
       margin-right: calc(4vw - 5px);
   }
   
   #nav-right,
   #nav-right>li {
       width: 130px!important;
   }
   
   #nav-right>li {
       height: 33%;
       margin: 0px;
       line-height: 100%;
   }
   
   #nav-right a {
       color: black;
       padding: 5px;
       height: 100%;
       line-height: 40px;
       width: fit-content;
       margin: auto;
   }
   
   textarea {
       min-height: 200px;
   }