   * {
       margin: 0px;
       padding: 0px;
       box-sizing: border-box;
   }
   /* main navigationbar */
   
   nav {
       display: flex;
       height: fit-content;
   }
   /* nav-link wrapper */
   
   .navbar {
       width: fit-content;
       margin: auto;
   }
   /* Navbar logo image */
   
   .logo {
       width: 150px;
       height: auto;
       margin: 8px;
   }
   
   .adsPanel {
       width: auto;
       height: 120px;
       margin: auto;
   }
   
   .header,
   #nav-right {
       background-color: white;
       height: 150px;
   }
   
   #nav-right,
   #nav-right>li {
       width: 130px!important;
   }
   
   #nav-right>li {
       height: 33%;
       margin: 0px;
       line-height: 100%;
   }
   
   #nav-right a {
       color: black;
       padding: 5px;
       height: 100%;
       line-height: 40px;
       width: fit-content;
       margin: auto;
   }
   
   textarea {
       min-height: 200px;
   }